<%= form_for(@recipe_all) do |f| %>
  <% if @recipe_all.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe_all.errors.count, "error") %> prohibited this recipe_all from being saved:</h2>

      <ul>
      <% @recipe_all.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipe %><br />
    <%= f.text_field :recipe %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :ingredients %><br />
    <%= f.text_area :ingredients %>
  </div>
  <div class="field">
    <%= f.label :directions %><br />
    <%= f.text_area :directions %>
  </div>
  <div class="field">
    <%= f.label :prep_time %><br />
    <%= f.text_field :prep_time %>
  </div>
  <div class="field">
    <%= f.label :cooking_time %><br />
    <%= f.text_field :cooking_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
