<h1>Recipes</h1>


<table>
    <% @recipe_alls.each do |recipe_all| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="list_description">
        <dl>
            <dt><%= link_to recipe_all.recipe, recipe_all %></dt>
            <dd><%= truncate(strip_tags(recipe_all.description),
                   length: 160) %></dd>
        </dl>
        
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recipe', new_recipe_all_path %>
<p><%= will_paginate @recipe_alls %></p>
