<!DOCTYPE html>
<html>
<head>
  <title>Recipe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
 <div id="banner">
 	<h1>Smoken Recipes</h1>
      <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
 	<nav class="round">
 		<ul>
 			<li><%= link_to "Recipes", root_path %></li>
 	    <% if signed_in? %>
          <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
          <li><%= link_to "Profile", current_user %></li>
        <% else %>
          <li><%= link_to "Sign in", signin_path %></li>
        <% end %>
 		</ul>
 	</nav>
 	<%= form_tag recipe_alls_path, :method => :get do %>
    <p id="search">
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>
 </div>
 <div id="columns">
 	<div id="side">
 		<ul>
 		</ul>
 	</div>
 	<div id="main">
 	  <section class="round">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </section>
 		<%= yield %>
 	</div>
 	<%= debug(params) if Rails.env.development? %>
 </div>
</body>
</html>
